@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header{
    height: 100vh;
    background: #F2AE4D;
    .header-line{
        padding-top: 19px;
        padding-bottom: 18px;
        display: flex;
        justify-content: space-between;
        background: white;
        .header-line-logo{
            margin-left: 24px;
        }
        .header-line-nav{
            margin-top: 5px;
            a{
                color:black;
                margin-right: 40px;
                letter-spacing: 1.96px;
            }
            img{
                margin-right: 10px;
            }
        }
        .header-line-right{
            margin-right: 20px;
            margin-top: 5px;
            img{
                margin-top: -5px;
            }
            a{
                color:black;
                margin-right: 20px;
                letter-spacing: 1.96px;
            }
        }
    }
    .header-main{
        display: flex;
        justify-content: space-between;
    .header-info{
        margin-left: 120px;
        .header-title{
            padding-top: 165px;
            font-size: 48px;
            line-height: 56px;
            color: #011F3A;
        }
        .header-desc{
            margin-top: 33px;
            font-size: 15px;
            line-height: 24px;
            color: #011F3A;
        }
        .header-button{
            padding-top: 44px;
            padding-bottom: 205px;
        .header-btn{
            background: #3D5675;
            border-radius: 44px;
            color:white;
            padding: 19px 29px;
            
        }
    }
    }
    .header-imgs{
       margin-top: 87px;
    }
}
}

.container{
        margin: 0 120px;
    }

.companies{
    .container{
        .companies-holder{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            .companies-part{
            margin-top: 20px;
            display: flex;
            .companies-img{

            }
            .companies-title{
                color: #A1A1A1;
                font-size: 15px;
                line-height: 19px;
                letter-spacing: 0.6px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
        }
    }
}

.products{
    background: #EEEEEE;
    height: 150vh;
    .container{
        .products-final{
            padding-top: 56px;
            display: flex;
            justify-content: center;
            .products-final-button{
                background: #FFFFFF;
                border-radius: 44px;
                padding: 10px 20px;
                margin-left: 20px;
                .products-final-btn{
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 1.96px;
                    text-transform: uppercase;
                    color: #3D5675;
                }
            }
        .products-final-question{
            font-size: 15px;
            line-height: 24px;
            color: #A1A1A1;
            margin-top: 5px;
        }
    }
        .products-holder{
            display: flex;
            justify-content: space-between;

            .products-title{
                font-size: 32px;
                line-height: 38px;
                padding-top: 57px;
            }
            .products-button{
                padding-top: 72px;
                .products-btn{
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: 1.96px;
                    text-transform: uppercase;
                    color:white;
                    background: #3D5675;
                    padding: 13px 25px;
                    border-radius: 44px;
                }
            }
        }
        .products-first-row{
            display: flex;
            justify-content: space-between;
            padding-top: 58px;
            .products-block{
                background: white;
                margin: 1px 1px;
                .products-block-title{
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.36px;
                    color: #011F3A;
                    margin-left: 25px;
                }
                .products-block-desc{
                    font-size: 15px;
                    line-height: 24px;
                    color: #777777;
                    padding-top: 8px;
                    margin-left: 25px;
                    margin-bottom: 5px;
                }
            }
        }
        .products-second-row{
            display: flex;
            justify-content: space-between;
            .products-block{
                background: white;
                margin: 1px 1px;
                .products-block-title{
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.36px;
                    color: #011F3A;
                    margin-left: 25px;
                }
                .products-block-desc{
                    font-size: 15px;
                    line-height: 24px;
                    color: #777777;
                    padding-top: 8px;
                    margin-left: 25px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.products-block-info{
    display: flex;
    justify-content: space-between;
    .products-block-price{
        padding-right: 30px;
        font-size: 15px;
        line-height: 24px;
        text-align: right;
        color: #A1A1A1;
        padding-top: 8px;
    }
}

.custom-boxes{
    background-color: #EEEEEE;
    height: 100vh;
    .container{
        padding-top: 35px;
        .custom-boxes-holder{
            background: #72BDA3;
            box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.05);
            padding-right: 50px;
            padding-left: 50px;
            .custom-boxes-title{
                padding-top: 88px;
                font-size: 32px;
                line-height: 41px;
                text-align: center;
                color: #011F3A;
                padding-bottom: 46px;
            }
            .custom-boxes-cards{
                display: flex;
                justify-content: space-between;
                .custom-boxes-card{
                   
                    margin-bottom: 44px;
                    .custom-boxes-card-title{
                        font-size: 18px;
                        line-height: 23px;
                        text-align: center;
                        letter-spacing: 0.36px;
                        color: #011F3A;
                        margin-bottom: 10px;
                    }
                    .custom-boxes-card-desc{
                        font-size: 15px;
                        line-height: 24px;
                        text-align: center;
                        color: #3D5675;
                    }
                }
            }
            
            .custom-boxes-button{
                padding-bottom: 60px;
                padding-top: 20px;
                text-align: center;
            .custom-boxes-btn{
                background: #3D5675;
                border-radius: 44px;
                color:white;
                padding: 13px 29px;
                
            }
        }

        }
    }
}

.advantage{
    height: 100vh;
    background: #EEEEEE;
    .container{
        .advantage-title{
            padding-top: 88px;
            font-size: 32px;
            line-height: 41px;
            color: #011F3A;
            padding-bottom: 82px;
        }
        .advantage-cards{
            display: flex;
            justify-content: space-between;
            .advantage-card{
                
                .advantage-card-title{
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: 0.36px;
                    color: #011F3A;
                    padding-bottom: 12px;
                }
                .advantage-card-desc{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: #A1A1A1;
                }
            }
        }
    }
}